raw_data/
golnaz/
__pycache__
.pytest_cache
__pycache__
projects/vit/data/**
projects/ml-test/data/**
.DS_Store
golnaz/
__pycache__
.pytest_cache

*.pyc

projects/ml-test/data/flower_images/flower_images/

projects/ml-test/data/

projects/vit/data/

.DS_Store
