raw_data/
__pycache__
.pytest_cache


.DS_Store

notebooks/.ipynb_checkpoints/

projects/interface/images_metropolitan/

projects/database/metropolitan/

projects/database/images_metropolitan.zip

*.zip

__pycache__
projects/vit/data/**
projects/ml-test/data/**
.DS_Store
golnaz/
__pycache__
.pytest_cache

.DS_Store

notebooks/.ipynb_checkpoints/

projects/database/metropolitan/

*.pyc

projects/ml-test/data/flower_images/flower_images/

projects/ml-test/data/

projects/vit/data/

.DS_Store

*.pyc


.DS_Store

notebooks/.ipynb_checkpoints/

projects/database/metropolitan/

projects/api/.env

img/**
