raw_data/
golnaz/
__pycache__
.pytest_cache

.DS_Store

notebooks/.ipynb_checkpoints/

projects/interface/images_metropolitan/

projects/database/metropolitan/

projects/database/images_metropolitan.zip

*.zip
